<?xml version="1.0"?>
<robot name="genie"
    xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- static common properties -->
    <xacro:include filename="common_properties.xacro" />

    <!-- launch args -->
    <xacro:arg name="lgripper" default="omnipicker" />
    <xacro:arg name="rgripper" default="omnipicker" />
    <!-- application -->
    <xacro:arg name="app" default="none" /> <!-- none, mc, navigation, freespace -->
    <!-- use for mujoco conversion fromurdf to xml -->
    <xacro:arg name="mujoco" default="false" /> <!-- true, false -->
    <!-- mesh directory -->
    <xacro:arg name="mesh_dir" default="package://${package_name}/meshes" />
    <!-- visual type -->
    <xacro:arg name="visual_type" default="stl" /> <!-- fbx, stl -->
    <!-- collision type -->
    <xacro:arg name="collision_type" default="fine" /> <!-- visual, coarse, fine -->

    <!-- dynamic properties -->
    <xacro:property name="lgripper" value="$(arg lgripper)" />
    <xacro:property name="rgripper" value="$(arg rgripper)" />
    <xacro:property name="app" value="$(arg app)" />
    <xacro:property name="mujoco" value="$(arg mujoco)" />
    <xacro:property name="visual_type" value="$(arg visual_type)" />
    <xacro:property name="collision_type" value="$(arg collision_type)" />
    <xacro:property name="mesh_dir" value="$(arg mesh_dir)" />

    <xacro:property name="left_arm_end_link" value="arm_l_end_link" />
    <xacro:property name="right_arm_end_link" value="arm_r_end_link" />

    <link name="base_link" />

    <joint name="left_end_joint" type="fixed">
        <origin xyz="0 0.1 0" rpy="-${PI_2} 0 0" />
        <parent link="base_link" />
        <child link="arm_l_end_link" />
    </joint>
    <link name="arm_l_end_link" />

    <joint name="right_end_joint" type="fixed">
        <origin xyz="0 -0.1 0" rpy="${PI_2} 0 0" />
        <parent link="base_link" />
        <child link="arm_r_end_link" />
    </joint>
    <link name="arm_r_end_link" />

    <!-- ================================ G2 gripper ================================ -->
    <xacro:include ns="G2" filename="G2.gripper.urdf.xacro" />
    <xacro:G2.gripper
        lgripper="${lgripper}"
        rgripper="${rgripper}"
        left_arm_end_link="${left_arm_end_link}"
        right_arm_end_link="${right_arm_end_link}"
        visual_type="${visual_type}"
        collision_type="${collision_type}"
        mesh_dir="${mesh_dir}"
        app="${app}" />

</robot>
